@{
    ViewBag.Title = "Unity Care Hospital - Üyelik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="containerx">
    <div class="form-containerx">
        <h2>Üyelik Formu</h2>
        @using (Html.BeginForm("Signup", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <label for="first-name">Adınız</label>
            <input id="first-name" name="FirstName" type="text" placeholder="Adınız" required />

            <label for="last-name">Soyadınız</label>
            <input id="last-name" name="LastName" type="text" placeholder="Soyadınız" required />

            <label for="gender">Cinsiyet</label>
            <select id="gender" name="Gender" required>
                <option value="">Cinsiyet Seçiniz</option>
                <option value="male">Erkek</option>
                <option value="female">Kadın</option>
                <option value="other">Diğer</option>
            </select>

            <label for="email">E-posta</label>
            <input id="email" name="Email" type="email" placeholder="E-posta Adresiniz" required />

            <label for="phone">Telefon Numarası</label>
            <input id="phone" name="Phone" type="text" placeholder="Telefon Numaranız" required />

            <label for="age">Yaş</label>
            <select id="age" name="Age" required>
                <option value="">Yaş</option>
                @for (int i = 1; i <= 121; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>

           

            <label for="password">Şifre</label>
            <input id="password" name="Password" type="password" placeholder="Şifreniz" required />

            <button type="submit" class="submit-btn">Üye Ol</button>
        }
    </div>
</div>
