@{
    ViewBag.Title = "Doktorlarımız";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="container">
    <div class="doctors">
        <div class="doctor-card">
            <img src="~/Content/images/doctor1.jpg" alt="Doctor 1">
            <h3>Prof. Dr. Mehmet Karadede</h3>
            <p>KARDİYOLOJİ</p>
        </div>
        <div class="doctor-card">
            <img src="~/Content/images/doctor2.jpg" alt="Doctor 2">
            <h3>Prof. Dr. Ahmet Koçer</h3>
            <p>NÖROLOJİ</p>
        </div>
        <div class="doctor-card">
            <img src="~/Content/images/doctor3.jpg" alt="Doctor 3">
            <h3>Prof. Dr. Zeynep Bedir</h3>
            <p>İÇ HASTALIKLAR</p>
        </div>
        <div class="doctor-card">
            <img src="~/Content/images/doctor4.jpg" alt="Doctor 4">
            <h3>Prof. Dr. Ayşe Cindaş</h3>
            <p>FİZİK TEDAVİ VE REHABİLİTASYON</p>
        </div>
        <div class="doctor-card">
            <img src="~/Content/images/doctor5.jpg" alt="Doctor 3">
            <h3>Prof. Dr. Selim Yalın</h3>
            <p>ÜROLOJİ</p>
        </div>
        <div class="doctor-card">
            <img src="~/Content/images/doctor6.jpg" alt="Doctor 3">
            <h3>Prof. Dr. Sena Arslan</h3>
            <p>KADIN HASTALIKLARI</p>
        </div>
    </div>
</div>
